@model Backend6.Models.Forum

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" asp-controller="ForumTopics" asp-route-forumId="@Model.Id">Create new topic</a>
    </p>
}


<table class="table table-striped">
    <tbody>
        @foreach (var title in Model.ForumTopics)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="ForumTopics" asp-route-id="@title.Id"  style="font-size: 1.3em">@title.Name</a><br />
                    @title.Creator.UserName, @title.Created.DayOfWeek, @title.Created.Month @title.Created.Day, @title.Created.Year @title.Created.TimeOfDay
                </td>
                <td style="width: 100px">
                    @(title.ForumMessages.Count) replies
                </td>
                <td style="width: 220px">
                    @title.Name<br />
                    @title.Creator.UserName, @title.Created.DayOfWeek, @title.Created.Month @title.Created.Day, @title.Created.Year @title.Created.TimeOfDay
                </td>
            </tr>
        }
    </tbody>
</table>


